.body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.main {
  flex: 1;
  margin-top: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.section_main{
  display: flex;
  flex-direction: column;
  max-width: var(--page-max-width);
  margin: 1rem;
  overflow-x: auto;
}

.children{
  border-radius: 10px;
  margin-top: 1.5rem;
}

/* .section_main::before{
  content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	top: var( --navbar-height);
	left: var(--slidebar-width);
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--first-color);
  display: none;
} */

@media screen and (min-width: 824px) {
  .section_main{
    padding: 0 4rem;
  }
}

@media screen and (min-width: 1224px){
  /* .section_main{
    width: calc(100% - var(--slidebar-width))
  } */
  .section_main::before{
    display: block;
  }
  .icon{
    display: none;
  }

  .section_main{
    padding: 0 0;
  }
  
}