.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.main {
  flex: 1;
  display: flex;
  margin-top: var(--navbar-height);
  z-index: var( --z-back);
}

.section_main{
  width: calc(100% - var(--slidebar-width))
}

.section_main::before{
  content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	top: var( --navbar-height);
	left: var(--slidebar-width);
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--first-color);
}