.contenu_accueil{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
    border-radius: 10px;
    padding: 3rem;
    padding-top: 0rem;
}