.contenu_accueil{
    display: flex;
    flex-direction: column;
    margin-right: .5rem;
    padding: 1rem;
    width: 100%;
    background-color: var(--grey);
}


@media screen and (min-width : 568px) {
}