.icon{
    color: var(--first-color);
    margin-top: 1.2rem;
    margin-left: calc(var( --slidebar-width));
    font-size: var(--h1-font-size);
    z-index: var( --z-fixed);
    transition: .8s ease;
    position: absolute;
  }
  
  .icon:hover{
    cursor: pointer;
  }

  .hide{
    margin-left: -2.5rem;
  }

  .display{
    display: block;
  }

  @media screen and (min-width: 1224px){
    .icon{
      display: none;
    }
  }
  