.banniere {
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--grey2);
    border-radius: 10px;
    background-color: var(--grey);
    margin-top: 0.3rem;
    align-items: center;
    max-width: var(--page-max-width);
}

.banniere div {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.banniere span {
    color: var(--first-color);
    font-size: var(--h3-font-size);
    display: flex;
    align-items: center;
    gap: .5rem;
}

.banniere span:hover{
    cursor: pointer;
}

/* Pour les grands ecrans*/
@media screen and (min-width: 700px){
    .banniere {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
