.div{
    gap: 1rem;
    font-size: var(--normal-font-size);
    line-height: var(--interligne);
    text-align: justify;
    margin: 0 .3rem;
    margin-bottom: .5rem;
}

.div span{
    font-weight: 600;
}

.souligner{
    text-decoration: underline;
}

.icone{
    color: var(--first-color-second);
}

@media screen and (min-width: 768px){
    .div{
        margin: 0 1.5rem;
        margin-bottom: 1rem;
    }
}