.bloc{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 0rem;
}

.numero{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(1deg, var(--first-color-second) 5%, var(--first-color));
    color: #fff;
    border-radius: 50%;
    font-weight: var(--font-medium-bold);
    font-size: var(--smaller-font-size);
    width: 1.5rem;
    height: 1rem;
}

.module_numero{
    display: flex;
    gap: .5rem;
    font-size: var(--small-font-size);
}

.bloc_titre div{
    font-size: var(--small-font-size);
    font-weight: var( --font-medium-bold);
}

.bloc_titre span{
    font-size: var(--small-font-size);
    font-style: italic;
}

@media screen and (min-width : 568px) {
    .bloc{
        margin-left: 2.5rem;
    }

    .bloc_titre div{
        font-size: var(--h2-font-size);
    }

    .numero{
        width: 4rem;
        height: 4rem;
        font-size: var(--h1-font-size);
    }

    .bloc{
        gap: 1rem;
    }
}