.bloc{ 
    position: sticky;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--page-max-width);
    background-color: var(--grey);
    height: 3rem;
    margin-bottom: 1rem;
    border-radius: 35px;
    padding: .5em .5rem;
    border: 1px solid var(--text-color-light);
}

.home{
    color: var(--first-color);
    cursor: pointer;
    font-size: var(--h2-font-size);
    margin-right: .5rem;
}

.sous_bloc{
    width: 23rem;
    height: 25rem;
    border-radius: 15px;
    padding: 1rem;
    background-color: var(--light);
    border: 1px solid var(--text-color-light);
    position: absolute;
    top: 3.7rem;
    display: none;
    overflow: auto;
}

.bloc_actif span{
    font-size: var(--smaller-font-size);
}

.elements{
    display: grid;
    grid-template-columns: 20rem;
}

.display_sous_bloc{
    display: block;
}

.titre_module{
    font-weight: 600;
}

.blocGauche,
.blocDroit{
    display: flex;
    align-items: center;
    gap: 0rem;
}

.separateur{
    height: 1.5rem;
    width: 0.1rem;
    background-color: var(--first-color);
    margin: 0 .4rem;
}

.arrowUp, 
.menuIcon{
    display: flex;
    flex-direction: center;
    align-items: center;
    padding: .2rem;
    color: var(--first-color);
    font-weight: bolder;
}

.arrowUp:hover,
.menuIcon:hover{
    background-color: var(--first-color);
    border-radius: 50%;
    color: var(--light);
    cursor: pointer;
}

/* Pour les petits ecrans*/
@media screen and (max-width: 400px){
    .sous_bloc{
        width: 20rem;
    }

    .elements{
        grid-template-columns: 18rem;
    }
}

@media screen and (min-width: 400px){
    .bloc_actif span{
        font-size: var(--small-font-size);
    }
}

/* Pour les grands ecrans*/
@media screen and (min-width: 700px){
    .bloc_actif span{
        font-size: var(--h3-font-size);
    }
    .bloc{
        height: 4rem;
        margin-bottom: 1.5rem;
        padding: .5rem 1.5rem;
    }

    .sous_bloc{
        top: 4.7rem;
    }
    
    
    .separateur{
        height: 2rem;
        width: 0.1rem;
        background-color: var(--first-color);
        margin: 0 .8rem;
    }
    
    .arrowUp, 
    .menuIcon{
        padding: .4rem;
    }

    .menuIcon{
        font-size: var(--h2-font-size);
    }

    .sous_bloc{
        width: 44rem;
    }

    .elements{
        grid-template-columns: 20rem 20rem;
    }
}