.containeur {
    position: sticky;
    top: 1rem;
    z-index: var(--z-fixed);
    margin: 1rem 1rem;
    margin-bottom: 0rem;
}

.sub_containeur {
    position: relative;
}

@media screen and (min-width: 824px) {
    .containeur {
        padding: 0 4rem;
    }
}