.container{
    background-color: var(--first-color-lighter);
    padding: 1rem;
    border-radius: 15px;
    line-height: var(--interligne);
    text-align: justify;
    margin: 0 .3rem;
    margin-bottom: 1rem;
    position: relative;
}

.type{
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--first-color-alt);
    color: var(--light);
    padding: .1rem .5rem;
    font-weight: 500;
    border-top-left-radius: 10px;
}

.type,
.contenu{
    font-size: var( --normal-font-size);
}

.contenu{
    margin-top: 1.8rem;
}

@media screen and (min-width: 768px){
    .container{
        margin: 0 1.5rem;
        margin-bottom: 1rem;
    }
}